target/classes/training4-american-ws.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b809e2c8-a191-42ba-8b3b-af8a5471d239" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="ce44ec24-c7a2-4af5-9dff-5b539f18458f" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getFlights" doc:id="625b8088-1270-4f64-acfe-7ee836d2b769" >
		<http:listener doc:name="Listener" doc:id="ab3990f6-e552-4df5-9981-d0b6d13ffd99" config-ref="HTTP_Listener_config" path="/flights"/>
		<db:select doc:name="Select" doc:id="dded6e6d-7eb1-49c7-9143-3b656e4e4d18" config-ref="Database_Config">
			<db:sql >SELECT * FROM
american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="b9416094-7802-41ac-a6e5-df4fd430b550" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="bcd4c3d7-800e-4789-bfc8-a6afc22bc6f0" >
		<http:listener doc:name="Listener" doc:id="d3ae0209-6e2c-49cd-a7d3-eed82cfc4450" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="61f28fb4-c233-46b3-b3e8-82b1cbdc3f83" config-ref="Database_Config" >
			<db:sql >SELECT *
FROM american
WHERE ID = :ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="5d61aa18-b243-4ea7-a8ec-a8a224d255ac" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlights" doc:id="00fd64b8-85cc-416c-a27d-3d3a7040a1a4" >
		<http:listener doc:name="Listener" doc:id="d0a044c0-6f4f-423c-a30c-5f9f0f360cb6" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='{"message": "Flight added (but not really)"}' doc:name="Set Payload" doc:id="d16cc633-16c5-4579-81cf-8c69f132191a" />
	</flow>
</mule>
